%script{type: 'text/javascript'}
  ="var dossier_id =#{@dossier.id}"

%div#sources_JS_api_carto
  %script{:src => "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"}
  %script{:src => "http://leaflet.github.io/Leaflet.draw/leaflet.draw.js"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"}
  %script{:src => "/assets/api_carto/lib/leaflet.spin.js"}
  %script{:src => "/assets/api_carto/lib//leaflet.photon.js"}
  %script{:src => "https://cdn.rawgit.com/CliffCloud/Leaflet.EasyButton/14332b70b18bdec80f4cce86c643372883bf90aa/src/easy-button.bar.js"}
  %script{:src => "https://cdn.rawgit.com/CliffCloud/Leaflet.EasyButton/14332b70b18bdec80f4cce86c643372883bf90aa/src/easy-button.button.js"}

  %script{:src => "/assets/api_carto/qp.js"}

