%div{style: 'float:right'}
  %a.btn{href: "/dossiers/#{@dossier.id}/recapitulatif"} Retour
  = submit_tag 'Modification terminée', class: %w(btn btn btn-info), id: 'modification_terminee', data: { disable_with: 'Modification terminée', submit: true}, onclick: 'submit_check_draw(event)'
